body{
font-size: small;
font-family: Verdana,
}
#box{
    width:300px;
    height: 250px;
    background-color: greenyellow;
    font-size: 7em;
    animation-name: slideleft;
    animation-duration: 30s;
}
@keyframes slideleft{
    from{transform:translate(300%)}
}
